.header {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Pangolin";
}

.headerContainer {
	width: 100%;
	max-width: 1200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logoContainer {
	font-family: "Hammersmith One";
	font-size: 30px;
	display: flex;
	gap: 12px;
	padding: 0 20px;

	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: var(--black);
}

.logoWheres {
	color: var(--cerulean);
}

.logoWaldo {
	color: var(--red);
}

.headerNav {
	padding: 12px;
	display: flex;
	gap: 12px;
}

.header a {
	padding: 4px 12px;
	text-decoration: none;
	color: var(--blue);
	background-color: var(--aluminum);
	border-radius: 6px;
	font-size: 18px;

	transform-origin: bottom center;
	transition: transform 0.25s ease-out;
}

.header a.active {
	color: var(--white);
	background-color: var(--slate);
	cursor: default;
}

.header a:hover:not(.active) {
	color: var(--white);
	background-color: var(--cerulean);
	transform: scale(1.05);
	transition:
		transform 0.12s ease-out,
		background-color 0.12s ease-out;
}

@media screen and (max-width: 850px) {
	.headerContainer {
		flex-direction: column;
	}
}

@media screen and (max-width: 530px) {
	.logoContainer {
		font-size: 20px;
	}
}
